<h2>New Gun Type</h2>

<!--<div>-->
<!--  <label>Name:<input #nameInput/></label><br/>-->
<!--  <label>Category:<input #categoryInput/></label><br/>-->
<!--  <label>Gun Provider Id:<input #gunProviderIdInput/></label><br/>-->
<!--  <button (click)="saveGunType(nameInput.value,categoryInput.value, +gunProviderIdInput.value)">-->
<!--    Save</button>-->
<!--</div>-->

<form #gunProviderForm="ngForm" (ngSubmit)="saveGunType(gunProviderForm);">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" ngModel required class="form-control" id="name" #name="ngModel">
    <small class="form-text text-muted" *ngIf="name.touched && !name.valid">Please enter a name</small>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select id="category" name="category" ngModel required class="form-control">
      <option value="PISTOL">PISTOL</option>
      <option value="RIFLE">RIFLE</option>
      <option value="SHOTGUN">SHOTGUN</option>
      <option value="LONG_GUN">LONG_GUN</option>
      <option value="SNIPER">SNIPER</option>
    </select>
  </div>
  <div class="form-group">
    <label for="gunProviderName">Gun Provider Name</label>
    <select id="gunProviderName" name="gunProviderName" ngModel required class="form-control">
      <option *ngFor="let gunProviderName of gunProviders" [value]="gunProviderName">{{gunProviderName}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!gunProviderForm.valid">Submit</button>
</form>
